*, *::before, *::after {
    box-sizing: inherit;
    font-family: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'ralewayregular';
}

@font-face {
  font-family: 'ralewaybold';
  src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
       url('../fonts/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayitalic';
  src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
       url('../fonts/raleway-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
       url('../fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
}

:root{
  --flower-pink-transparent: rgba(241,160,176,.6);
}



#wrapper{
  display: flex;
  height: 800px;
  max-width: 1700px;
}

.picture{
  width: 40%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1538943186303-104afadcbb16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar{
  display: flex;
  position: relative;
  top: 8rem;
  width: 100%;
  height: 10rem;
  justify-content: center;
  align-items: center;
  font-family: "ralewayregular";
  background-color: var(--flower-pink-transparent)
}

.logo{
  height:100px;
  width: 100px;
}

h1{
  margin: 2.5rem 0rem 0rem .5rem;
}

.slogan{
  font-size: 80%;
  font-weight: 800;
}

.container{
  diplay: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background: rgba(225,222,235, .2);
}

.container > p {
  height: 18rem;
  font-size: 120%;
  text-align: start;
  padding-top: 10rem;
  padding-left: 2.9rem;
}

.form-container{
  display: flex;
  gap: 2em;
  height: 330px;
  justify-content: flex-start;
  background: white;
  box-shadow: 0 -5px 15px -5px grey, 0 5px 15px -5px grey;
  
}

.form-left, 
.form-right {
  display: flex;
  flex-direction:column;
  gap: 2em;
  padding: 3em;
}

.form-input{
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

#submit-button {
  background-color: var(--flower-pink-transparent);
  font-weight: 900;
  margin-top: -.5rem;
  margin-bottom: .5rem;
  padding:.7rem;
  border: none;
}

input {
  height: 1.5rem;
  width: 180px;
  border-radius: 50;
  border: .1em rgba(225,222,235, .2); solid;
  background-color: rgba(225,222,235, .2);
}